# Rider/JetBrains
.idea/
*.sln.iml
*.idea/
*.user

# Build e Outputs
bin/
obj/
Debug/
Release/

# Outros
*.suo
*.user
*.userossc

# Node / Next.js
node_modules/
.next/
out/
*.tsbuildinfo

.env
.env.local
web/.env*.local
