@page
@model DeskNin.Areas.Identity.Pages.Account.RegisterModel
@{
    ViewData["Title"] = "Register";
}
<p class="text-center mt-5">Redirecting to sign in...</p>
<script>window.location.href = '@Url.Page("/Account/Login", new { area = "Identity" })';</script>
