<!DOCTYPE html>
<html lang="en" id="theme-root">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - DeskNin</title>
    <link rel="icon" type="image/svg+xml" href="~/img/favicon.svg"/>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/css/identity.css" asp-append-version="true"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet">
    <script>
        (function(){
            var t=localStorage.getItem('desknin-theme')||'light';
            document.documentElement.setAttribute('data-bs-theme',t);
        })();
    </script>
</head>
<body class="position-relative">
    @{
        ViewData["ThemeTogglePosition"] = "absolute";
    }
    <div class="position-relative min-vh-100">
        <partial name="~/Views/Shared/_ThemeToggle.cshtml"/>
        @RenderBody()
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/theme.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
